html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0A1172;
  padding: 10px 20px;
  z-index: 1000; 
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.nav-center {
  display: flex;
  gap: 15px;
}

.nav-link.active {
  background-color: white;
  color: #0A1172;
  font-weight: bold;
}

/* Hover Effect */
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Sections */
.section {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.5s;
  background-color: #e9ecef;
}

.section-contact {
  min-height: 15vh;
  gap: 30px;
}

.section:nth-of-type(odd) {
  background-color: #ffffff;
}

.section:nth-of-type(even) {
  background-color: #e9ecef;
}

.dark-theme .section:nth-of-type(odd) {
  background-color: #2a2a2a;
}

.dark-theme .section:nth-of-type(even) {
  background-color: #1a1a1a; 
}

.dark-theme .section {
  color: #ffffff;
}

.planet-button {
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, rgba(199,199,201,1) 0%, rgba(3,3,3,1) 100%);
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.planet-item {
  transition: transform 0.5s;
}

.project-card {
  display: flex;
  width: 90%;
  max-width: 700px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.dark-theme .project-card {
  background: #333333;
}

.project-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-info h2 {
  margin-bottom: 10px;
  color: #0A1172;
}

.dark-theme .project-info h2{
  color: #e0e0e0;
}

.project-info p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.dark-theme .project-info p{
  color: #e0e0e0;
}

.project-media {
  flex-grow: 0.4;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #e9ecef;
}

.dark-theme .project-media {
  color: #000000;
}

.project-image {
  width: 100%;
  height: auto;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.tech-logos {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tech-logos img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.buttons-div {
  display: flex;
  align: center;
  flex-direction: row;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

@media (max-width: 700px) {
  .project-card {
    flex-direction: column;
    max-width: 100%;
  }

  .project-media {
    width: 100%;
    padding: 15px;
  }

  .nav-link {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 600px) {
  .about-me {
    flex-direction: column;
    max-width: 100%;
  }
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #0A1172;
    position: fixed;
    top: 60px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1000;
}

.mobile-menu li {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: block;
}

.mobile-menu.show {
    display: flex;
}

.about-me {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.about-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0A1172;
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
}

.dark-theme .about-text {
  color: #ffffff;
}

.article-card {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
  text-align: center;
}

.dark-theme .article-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.article-journal, .article-authors {
  font-size: 0.9rem;
  margin: 5px 0;
}

.article-button {
  background-color: #0A1172;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.8rem;
  text-decoration: none;
}

.article-button:hover {
  background-color: #0056b3;
}

.logo-image img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0A1172;
}

.social-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.github {
    background-color: #000;
}

.linkedin {
    background-color: #000;
}

.btn:hover {
    background-color: #0A1172;
}
